<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-CO">
<head>
    <meta charset="UTF-8">
    <title>Reset password :: UpTask</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .body{
            padding: 0 10%;
            margin: 0 auto;
        }
        footer{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="body">
    <h1>Hola, <span th:text="${username}">Username</span></h1>
    <p>Has solicitado reestablecer tu contraseña.</p>
    <p>Visita el siguiente enlace:</p>
    <a th:href="@{http://localhost:5173/auth/new-password(userId=${userId})}">Reestablecer contraseña</a>
    <p>E ingresa el siguiente código: <b th:text="${code}">código de validación</b></p>
    <p>Este código expira en 10 minutos.</p>
</div>
<br>
<footer>UpTask</footer>
</body>
</html>